body{
    margin: 0px;
    padding: 0px;
}
.left {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 20%; /* The width is 20%, by default */
  }
  
  .main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 60%; /* The width is 60%, by default */
  }
  
  .right {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 20%; /* The width is 20%, by default */
  }

  @media screen and (max-width: 650px){ /*kada ekran dodje na rezoluciji ispod 650 pixela primenjuj sve ispod*/
    .left, .main, .right{
        width: 100%;
  
    }
  }

  